{% extends 'landingpages/accounts/base_landingpages_accounts.html' %}
{% load static %}

{% block content %}
    <div class="flex h-full">
        <div class="flex flex-1 flex-col justify-between">
            <div class="mx-auto w-full min-w-min max-w-lg text-left mt-56">
                <div class="py-8 text-7xl font-bold">That's it</div>
                <div class="text-xl">Your password was reset.</div>
                <div class="mx-auto w-full min-w-min max-w-lg py-8 text-left">
                    Go back to <a href="{% url 'accounts:signin' %}" class="font-bold">Sign in page</a>
                </div>
            </div>
            <div class="mx-auto w-full min-w-min max-w-lg py-8 text-left">

            </div>
        </div>

        <div class="flex w-full flex-1 bg-brand">

        </div>
    </div>
{% endblock %}
