{% extends 'landingpages/accounts/base_landingpages_accounts.html' %}
{% load static %}

{% block content %}
    <div class="flex h-full">
            <div class="flex flex-1 flex-col justify-between">
                <div class="mx-auto w-full min-w-min max-w-lg text-left mt-56">
                <div class="py-8 text-7xl font-bold">Welcome</div>
                <form action="." method="post">{% csrf_token %}
                    {{ form.errors }}
                    <label class="my-6 block">
                        <span class="mb-2 block text-gray-700">E-mail</span>
                        {{ form.email }}
                    </label>

                    <label class="my-6 block">
                        <span class="mb-2 block text-gray-700">Password</span>
                        {{ form.password }}
                    </label>

                    <label class="my-6 block">
                        <span class="mb-2 block text-gray-700">Organisation name</span>
                        {{ form.organisation_name }}
                    </label>

                    <input type="submit" value="Join Kioskbear" class="rounded-lg text-center bg-dark text-lightest hover:bg-darkest hover:cursor-pointer p-4">
                </form>
                </div>
                <div class="mx-auto w-full min-w-min max-w-lg py-8 text-left">
                    Already signed up? <a href="{% url 'accounts:signin' %}" class="font-bold">Sign in</a>
                </div>
            </div>

        <div class="flex w-full flex-1 bg-brand">

        </div>
    </div>
{% endblock %}
